﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            User....<input type="text" id="userImput" />
            <br />

            message....<input type="text" id="msgInput" />
            <br />

            <input type="button" id="btnSend" value="Send"/>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messageList"></ul>
        </div>
    </div>
</div>

<script src="~/lib/SignalR/signalr.js"></script>
<script src="~/js/Chat.js"></script>